* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/natural-pattern.png);
  background-position: center;
}

.container {
  height: 100%;
  width: 80%;
  margin: 20px auto;
}

/* header-top */
.header-top{
  position: relative;
  height: 300px;
  width: 100%;
  border: 10px solid white;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.container-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img{
  text-align: center;
  width: 80%;
  text-transform: uppercase;
}

.container-logo h1{
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

/* header-bottom */
.header-bottom{
  height: 50px;
  line-height: 50px;
  background-color: #706760;
}

.header-bottom nav ul{
  list-style: none;
  text-align: center;
}

.header-bottom nav ul li{
  display: inline-block;
}

.header-bottom nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0 10px;
  border-right: 1px solid #302B27;
  border-left: 1px solid #47423e;
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
}

.header-bottom nav ul li a:hover{
  background-color: #302B27;
}

.header-bottom nav ul li:last-child a{
  border-right: 0;
}

.header-bottom nav ul li:first-child a{
  border-left: 0;
}

/* main */
main {
  padding-top: 10px;
}

main::after {
  content: "";
  display: table;
  clear:both;
}

.col {
  float:left;
  text-align: left;
}

.col-left,
.col-right {
  width: 20%;
}

.box-menu .list{
  margin: 5px;
}

.box-menu ul{
  list-style-type:none;
}

.box-menu ul li {
  padding: 5px 0;
}

.box-menu ul li a{
  color: green;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.col-left-header::after{
  content: " ";
  display: table;
  clear: both;
}

.col-left-header i,
.col-left-header h2{
  float: left;
}

.col-left-header h2{
  width: 60%;
}

.col-left-header i{
  font-size: 1.5em;
  margin-right: 10px;
  color: orange;
}

/* Center column */
.col-center {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.box {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.col-left h2,
.col-right h2,
.col-center h2{
  color: #504741;
  text-shadow: 2px 2px 2px lightgrey;
}

.col-left h2,
.col-right h2{
  text-transform: capitalize;
}

.col-center h2{
  text-transform: uppercase;
}

.col-center .box,
.col-right .widget {
  padding: 20px;
}

.col-center .box p,
.col-right .widget p {
  line-height: 30px;
  margin-top: 40px;
}

.widget {
  background-color: white;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
}

/* footer */
footer {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
}

.footer-bottom::after {
  content: "";
  display: table;
  clear: both;
}

.footer-top{
  text-align: center;
  border-bottom: 1px inset grey;
  padding: 5px;
  font-style: italic;
  color: grey;
}

.footer-bottom {
 padding: 20px;
}

.footer-bottom div {
  float: left;
  font-size: 3em;
  width: calc(100% / 3);
  text-align: center;
}

.footer-bottom i {
 color: lightgrey;
}

.footer-bottom i:hover {
 color: black;
}
